<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/alarm/alarmpage.css}"/>
    <script defer th:src="@{/js/alarm/alarmpage.js}"></script>
</head>
<body>
<header>
    <div class="alarm_title">알림센터</div>
</header>
<div class="tab_menu">
    <ul class="list">
        <li class="btn_box">
            <a href="" class="alarm_btn">알림</a>
            <div  class="cont">
                <div class="alarm_inner">
                    <div class="alarm_content">
                        <a th:href="@{/book/info}" class="alarm_book" th:if= "${hasAlarms}"> <!--북 페이지 이동-->
                            <div class="alarm_box" th:each="findAlarms:${findAlarms}" th:text="${findAlarms.alarmContent}">
                                <div class="alarm_box_title">ss</div>

                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </li>
        <li>
            <a href="" class="alarm_btn">공지사항</a>
            <div class="cont">
                <div class="alarm_inner">
                    <div class="alarm_content">
                        <div  class="alarm_box">
                            <a th:href="@{/book/info}" class="alarm_book"> <!--북 페이지 이동-->
                                <div>공지사항이 없습니다</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>