<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mypage/myPageInt_sticker.css}"/>
    <script defer th:src="@{js/mypage/readingBook.js}"></script>
    <script defer th:src="@{js/mypage/readingBookDeleteButton.js}"></script>
    <script defer th:src="@{js/mypage/myPageInt_sticker.js}"></script>
  </head>
  <body>

      <div>
        <div>
          <header>
            <div class="header_layout">
              <h1 class="header_logo">
                <div class="header_logo_layout">
                  <a href="">
                    <!--홈페이지 버튼 -->
                    <img th:src="@{/images/mypage/HippoBook_logo.png}"
                      alt=""
                      class="header_logo_images"
                    />
                  </a>
                </div>
              </h1>
              <div class="header_right_layout">
                <a href="">
                  <!-- 알람 페이지 이동  -->
                  <img th:src="@{/images/mypage/alarm.png}"
                    alt=""
                    class="header_right_alarm"
                  />
                </a>
                <ul class="header_right_login">
                  <a href="" class="header_right_login_box">로그인</a>
                </ul>
              </div>
            </div>
          </header>

          <main>
            <div class="main_top">
              <div class="main_top_layout">
                <a href="">
                  <!-- 카테고리  -->
                  <img th:src="@{/images/mypage/Category.png}"
                    alt=""
                    class="main_top_category"
                  />
                </a>
                <div class="main_top_category_tap">
                  <ul class="main_top_category_list">
                    <li>
                      <a href="">내 서재</a>
                      <!-- 내 서재 이동 -->
                    </li>
                    <li>
                      <a href="">쪽지</a>
                      <!-- 쪽지 이동 -->
                    </li>
                    <li>
                      <a href="">검색</a>
                      <!-- 검색 이동 -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </main>
          <section class="profile" th:object="${profileDto}">
            <div class="profile-all">
              <div id="profile-photo">
                <img th:if="${profilePhoto.userProfileId == null}"
                     th:src="@{/imgs/mypage/free-icon-hippo-3250992.png}">
                <img th:unless="${profilePhoto.userProfileId == null}"
                     th:src="@{'/profile/' + ${profilePhoto.userProfileUploadPath} + '/' + ${profilePhoto.userProfileUuid} + '_' + ${profilePhoto.userProfileName}}"
                     alt=""/>
              </div>

              <div id="profile-name">
                <h3 th:text="${profileDto.userNickName}"></h3>
                <span>님의 서재</span>
              </div>
              <div id="follow">
                <span>팔로워 <span th:text="${profileDto.followerCnt}"></span></span>
                <span>팔로잉 <span th:text="${profileDto.followingCnt}"></span></span>
              </div>
            </div>
            <div id="my-favorite-book">
              <img th:if="*{fileId == null}"
                   th:src="@{/imgs/mypage/best_book_default.png}">
              <img th:unless="*{fileId == null}"
                   th:src="@{'/upload/' + *{fileUploadPath} + '/' + *{fileUuid} + '_' + *{fileName}}"
                   id="best-book-img" alt=""/>
            </div>
          </section>
        </div>
        <div>
          <div class="mypage-cate">
            <div><a th:href="@{/mypage/int}">소개</a></div>
            <div><a th:href="@{/mypage/book/container}">책장</a></div>
            <div><a th:href="@{/mypage/book/write-content}">내 게시물</a></div>
            <div><a th:href="@{/mypage/sticker}">스티커 신청</a></div>
            <div><a th:href="@{/mypage/manage}">관리</a></div>
          </div>
        </div>
      </div>
      <form th:action="@{/mypage/sticker}" method="post">

      <div class="main__sticker-request-content-container">
        <div class="main__sticker-request-center-box">
          <section>
            <h1>히포 마크 신청하기</h1>
          </section>
          <section>
            <span><img th:src="@{/imgs/board/hippo.png}" alt=""></span>
            <div>
              <p><strong>팔로우 1000명이상 신청가능</strong></p>
              <p>히포 마크를 통해 히포북의 셀럽을 증명하세요!</p>
              <p>신청이 완료되면 아이디 옆에 히포마크가 나타납니다!</p>
            </div>
          </section>
          <section>
            <input type="hidden" th:value="${profileDto.userId}"/>
            <button type="submit" onclick="alert('신청이 완료 되었습니다.')">신청하기</button>
            <!-- 팔로워 수가 부족한 경우 보여주기
              <p>팔로워 수가 200명 부족합니다.</p> -->
          </section>
          <!-- 신청완료 되면 버튼 대체
            <section><div class="main__sticker-request-complete">신청완료</div></section> -->
        </div>
      </div>
  </form>
      <footer>
        <div>
          <button id="reading-book-delete-button">삭제하기</button>
        </div>
      </footer>
  </body>
</html>
