<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mypage/myPageInt.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/mainpage.css}" />
    <script defer th:src="@{/js/mypage/readingBook.js}"></script>
    <script defer th:src="@{/js/mypage/readingBookDeleteButton.js}"></script>
    <script defer th:src="@{/js/mypage/myPageInt.js}"></script>
    <script type="module" defer th:src="@{/js/mypage/bookContainer.js}"></script>

</head>
<body>
<header class="header" th:replace="~{/fragment/header :: header}"></header>
<div>
    <div>
        <main>
            <!-- 메인 상단 -->
            <div class="main_top">
                <div class="main_top_layout">
                    <button type="button" class="category_openBtn" id="OpenBtn">
                        <!-- 모달창 띄우는 버튼  -->
                        <img
                                th:src="@{/images/book/category.png}"
                                alt=""
                                class="main_top_category"
                        />
                    </button>
                    <div class="main_top_category_tap">
                        <ul class="main_top_category_list">
                            <li class="main_top_category_list2">
                                <a th:href="@{/mypage/int}" class="main_top_category_list_title">내 서재</a>
                                <!-- 내 서재 이동 -->
                            </li>
                            <li class="main_top_category_list2">
                                <a th:href="@{/message/letter/get}" class="main_top_category_list_title">쪽지</a>
                                <!-- 쪽지 이동 -->
                            </li>
                            <li class="main_top_category_list2">
                                <a th:href="@{/search}" class="main_top_category_list_title">검색</a>

                            <li class="main_top_category_list2">
                                <a href="" class="main_top_category_list_title">이벤트</a>
                                <!-- 이벤트 이동 -->
                            </li>

                            <li class="main_top_category_list2">
                                <a th:href="@{/categorie/Categoriepage}" class="main_top_category_list_title">카테고리</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <section class="profile" th:object="${profileDto}">
            <div class="profile-all">
                <div id="profile-photo">

                    <img th:if="${profilePhoto.userProfileId == null}"
                         th:src="@{/imgs/mypage/free-icon-hippo-3250992.png}">
                    <img th:unless="${profilePhoto.userProfileId == null}"
                         th:src="@{'/upload/' + ${profilePhoto.userProfileUploadPath} + '/' + ${profilePhoto.userProfileUuid} + '_' + ${profilePhoto.userProfileName}}"
                         alt=""/>
                </div>
                <div id="profile-name">
                    <h3 th:text="${profileDto.userNickName}"></h3>
                    <span class="profile-name-option">님의 서재</span>
                </div>
                <div id="follow">
                    <span>팔로워 <span th:text="${profileDto.followerCnt}"></span></span>
                    <span>팔로잉 <span th:text="${profileDto.followingCnt}"></span></span>
                </div>
            </div>
            <div id="my-favorite-book">
                <img th:if="*{fileId == null}"
                     th:src="@{/imgs/mypage/best_book_default.png}">
                <img th:unless="*{fileId == null}"
                     th:src="@{'/upload/' + *{fileUploadPath} + '/' + *{fileUuid} + '_' + *{fileName}}"
                     id="best-book-img" alt=""/>
            </div>
        </section>
    </div>
    <div>
        <div class="mypage-cate">
            <div><a th:href="@{/mypage/int}">소개</a></div>
            <div><a th:href="@{/mypage/book/container}">책장</a></div>
            <div><a th:href="@{/mypage/book/write-content}">내 게시물</a></div>
            <div><a th:href="@{/mypage/sticker}">스티커 신청</a></div>
            <div><a th:href="@{/mypage/manage}">관리</a></div>
        </div>
        <div id="introduce-content">

            <div class="introduce-pencil">
                <h3>소개글</h3>
                <img src="/images/mypage/free-icon-pencil-1828920.png" alt="" class="introduce-content-write">
            </div>
            <form th:action="@{/mypage/int}" method="post">
                <div class="int-Text-Box-All">
                    <textarea th:text="${intBoardDto.intBoardContent}" name="intBoardContent"
                              class="introduce-text-content" cols="30" rows="10" placeholder="소개글을 작성해주세요(최대100자)"
                              maxlength="100"></textarea>
                    <button type="submit" class="introduce-save-btn">저장</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mypage-book-cate">
        <div id="mypage-book-cate-title">
            <h5>최근 담은 책</h5>
        </div>
        <div id="mypage-book-cate-img">


        </div>
    </div>
    <div class="mybook-collection">
        <!--            <div class="mybook-second">-->
        <!--                <h5>최근 담은 책</h5>-->

        <!--                <div>-->
        <!--                    <span>책장에 책을 담아주세요</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <div th:each="i : ${#numbers.sequence(0, 1)}" class="mybook-second">

            <h5>최근 담은 책</h5>
            <div class="my-recent-book" th:if="${i < bookContainerList.size()}"
                 th:with="bookContainerDto=${bookContainerList.get(i)}">
                <div class="reading-book-img">
                    <img th:src="@{'/upload/' + ${bookContainerDto.fileUploadPath} + '/' + ${bookContainerDto.fileUuid} + '_' + ${bookContainerDto.fileName}}"
                         alt="">
                </div>
                <div class="reading-book-infor">
                    <div id="reading-book-title">
                        <span th:text="${bookContainerDto.bookName}">제목</span>
                    </div>
                    <div id="reading-book-date">
                        <p>저자 : <span th:text="${bookContainerDto.bookWriter}"></span></p>
                        <p>담은 날짜: <span th:text="${bookContainerDto.bookHasRecentDate}"></span></p>
                    </div>
                </div>
            </div>

            <div th:unless="${i < bookContainerList.size()}">
                <span>책장에 책을 담아주세요</span>
            </div>
        </div>
        <!--        <th:block th:if="${bookContainerList.size() > 0}">-->
        <!--            <div th:each="bookContainerDto : ${bookContainerList}" class="mybook-second">-->

        <!--                <h5>최근 담은 책</h5>-->
        <!--                <div class="my-recent-book">-->
        <!--                    <div class="reading-book-img">-->
        <!--                        <img th:src="@{'/upload/' + ${bookContainerDto.fileUploadPath} + '/' + ${bookContainerDto.fileUuid} + '_' + ${bookContainerDto.fileName}}"-->
        <!--                             alt="">-->
        <!--                    </div>-->
        <!--                    <div class="reading-book-infor">-->
        <!--                        <div id="reading-book-title">-->
        <!--                            <span th:text="${bookContainerDto.bookName}">제목</span>-->
        <!--                        </div>-->
        <!--                        <div id="reading-book-date">-->
        <!--                            <p>저자 : <span th:text="${bookContainerDto.bookWriter}"></span></p>-->
        <!--                            <p>담은 날짜: <span th:text="${bookContainerDto.bookHasRecentDate}"></span></p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </th:block>-->

    </div>
</div>
<footer>
    <div>

    </div>
</footer>

</body>
</html>
