<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mypage/myPageInt_modify.css}"/>
    <script defer th:src="@{js/mypage/readingBook.js}"></script>
    <script defer th:src="@{js/mypage/readingBookDeleteButton.js}"></script>
    <script defer th:src="@{js/mypage/myPageInt_modify.js}"></script>
</head>
<body>

    <div>
        <div>
            <header>
                <div class="header_layout">
                    <h1 class="header_logo">
                        <div class="header_logo_layout">
                            <a href="">
                                <!--홈페이지 버튼 -->
                                <img th:src="@{/images/mypage/HippoBook_logo.png}"
                                     alt=""
                                     class="header_logo_images"
                                />
                            </a>
                        </div>
                    </h1>
                    <div class="header_right_layout">
                        <a href="">
                            <!-- 알람 페이지 이동  -->
                            <img th:src="@{/images/mypage/alarm.png}"
                                 alt=""
                                 class="header_right_alarm"
                            />
                        </a>
                        <ul class="header_right_login">
                            <a href="" class="header_right_login_box">로그인</a>
                        </ul>
                    </div>
                </div>
            </header>

            <main>
                <div class="main_top">
                    <div class="main_top_layout">
                        <a href="">
                            <!-- 카테고리  -->
                            <img th:src="@{/images/mypage/Category.png}"
                                 alt=""
                                 class="main_top_category"
                            />
                        </a>
                        <div class="main_top_category_tap">
                            <ul class="main_top_category_list">
                                <li>
                                    <a href="">내 서재</a>
                                    <!-- 내 서재 이동 -->
                                </li>
                                <li>
                                    <a href="">쪽지</a>
                                    <!-- 쪽지 이동 -->
                                </li>
                                <li>
                                    <a href="">검색</a>
                                    <!-- 검색 이동 -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <section class="profile" th:object="${profileDto}">
                <div class="profile-all">
                    <div id="profile-photo">
                        <input
                                type="file"
                                id="profile-image"
                                name="profile-photo-file"
                                accept="image/*"
                        />
                        <img
                                id="hippo"
                                th:src="@{/images/mypage/free-icon-hippo-3250992.png}"
                                alt=""
                        />
                    </div>
                    <div id="profile-name">
                        <h3>책먹는 하마</h3>
                        <span>님의 서재</span>
                    </div>
                    <div id="follow">
                        <span>팔로워 <span>0</span></span>
                        <span>팔로잉 <span>0</span></span>
                    </div>
                </div>
                <div id="my-favorite-book">
                    <img th:src="@{/images/mypage/인생책 이미지.png}" alt=""/>
                </div>
            </section>
        </div>
        <div>
            <div class="mypage-cate">
                <div><a href="">소개</a></div>
                <div><a href="">전체도서</a></div>
                <div><a href="">내 게시물</a></div>
                <div><a href="">스티커 신청</a></div>
                <div><a href="">관리</a></div>
            </div>
        </div>
    </div>
    <div class="main__myInfo-modi-out-container">
        <div class="main__myInfo-modi-in-container">
            <div class="main__myInfo-title-box">
                <h3>닉네임 변경</h3>
            </div>
            <div class="main__myInfo-modify-boxs">
                <label class="main__myInfo-modify-label">
                    <div class="myInfo-midify-content myInfo-modify-id">
                        <span>아이디*</span>
                        <input type="text" name="loginId" placeholder="아이디 입력">
                    </div>
                </label>
            </div>
            <div class="main__myInfo-modify-boxs">
                <label class="main__myInfo-modify-label">
                    <div class="myInfo-midify-content myInfo-modify-pw">
                        <span>비밀번호*</span>
                        <input type="password" name="password" placeholder="비밀번호 입력">
                    </div>
                </label>
            </div>
            <div class="main__myInfo-modify-boxs">
                <label class="main__myInfo-modify-label">
                    <div class="myInfo-midify-content myInfo-modify-nn">
                        <span>닉네임*</span>
                        <input type="text" name="nickname" placeholder="닉네임 입력">
                    </div>
                </label>
            </div>
        </div>

        <div class="main__myInfo-modify-btn-box">
            <button>닉네임 변경</button>
        </div>
        <p class="myInfo-modify-cf">변경 완료 이후 안전한 사용을 위해 로그아웃됩니다.</p>
    </div>
    <footer>
        <div>
            <button id="reading-book-delete-button">삭제하기</button>
        </div>
    </footer>
</body>
</html>
