<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mypage/myWriteContent.css}">
    <script defer th:src="@{/js/mypage/myWriteContent.js}"></script>
</head>
<body>


<div>
    <header>
        <div class="header_layout">
            <h1 class="header_logo">
                <div class="header_logo_layout">
                    <a href="">
                        <!--홈페이지 버튼 -->
                        <img
                                src="/imgs/mypage/HippoBook_logo.png"
                                alt=""
                                class="header_logo_images"
                        />
                    </a>
                </div>
            </h1>
            <div class="header_right_layout">
                <a href="">
                    <!-- 알람 페이지 이동  -->
                    <img
                            src="/imgs/mypage/alarm.png"
                            alt=""
                            class="header_right_alarm"
                    />
                </a>
                <ul class="header_right_login">
                    <a href="" class="header_right_login_box">로그인</a>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="main_top">
            <div class="main_top_layout">
                <a href="">
                    <!-- 카테고리  -->
                    <img
                            src="/imgs/mypage/Category.png"
                            alt=""
                            class="main_top_category"
                    />
                </a>
                <div class="main_top_category_tap">
                    <ul class="main_top_category_list">
                        <li>
                            <a href="">내 서재</a>
                            <!-- 내 서재 이동 -->
                        </li>
                        <li>
                            <a href="">쪽지</a>
                            <!-- 쪽지 이동 -->
                        </li>
                        <li>
                            <a href="">검색</a>
                            <!-- 검색 이동 -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <section class="profile" th:object="${profileDto}">
        <div class="profile-all">
            <div id="profile-photo">

                <img th:if="${profilePhoto.userProfileName == null}"
                     th:src="@{/imgs/mypage/free-icon-hippo-3250992.png}" alt=""/>
                <img th:unless="${profilePhoto.userProfileName == null}"
                     th:src="@{'/profile/' + ${profilePhoto.userProfileUploadPath} + '/' + ${profilePhoto.userProfileUuid} + '_' + ${profilePhoto.userProfileName}}"
                     alt=""/>

            </div>
            <div id="profile-name">
                <h3 th:text="${profileDto.userNickName}"></h3>
                <span>님의 서재</span>
            </div>
            <div id="follow">
                <span>팔로워 <span th:text="${profileDto.followerCnt}"></span></span>
                <span>팔로잉 <span th:text="${profileDto.followingCnt}"></span></span>
            </div>
        </div>
        <div id="my-favorite-book">
            <img th:if="*{fileId == null}"
                 th:src="@{/imgs/mypage/best_book_default.png}">
            <img th:unless="*{fileId == null}"
                 th:src="@{'/upload/' + *{fileUploadPath} + '/' + *{fileUuid} + '_' + *{fileName}}"
                 id="best-book-img" alt=""/>
        </div>
    </section>
</div>
<div>
    <div class="mypage-cate">
        <div><a th:href="@{/mypage/int}">소개</a></div>
        <div><a th:href="@{/mypage/book/container}">책장</a></div>
        <div><a th:href="@{/mypage/book/write-content}">내 게시물</a></div>
        <div><a th:href="@{/mypage/sticker}">스티커 신청</a></div>
        <div><a th:href="@{/mypage/manage}">관리</a></div>
    </div>
</div>
    <section class="wirte-content-cate-line">
        <form action="">
            <div class="wirte-content-cate">
                <div>
                    <button type="button" class="review-content-btn"><p>한 줄 리뷰</p></button>
                </div>
                <div>
                    <button type="button" class="post-content-btn">포스트</button>
                </div>
            </div>
        </form>
    </section>

        <section>
            <div class="write-content-total-setting">
                <div class="review-count">
                    <span>총 <span th:text="${reviewCount}"></span>개</span>
                </div>

                <div class="post-count">
                    <span>총 <span th:text="${postCount}"></span>개</span>
                </div>
                <div class="write-content-setting-list">

                    <div class="write-content-setting-list-icon">

                    </div>
                </div>
            </div>
        </section>


    <section>

            <div class="review-content-box-wrap">



                <div th:each="myContentDto : ${myContentList}"
                     th:if="${myContentDto.feedType} == 'Review'" class="review-content-box" data-type="review">


                    <div class="review-content-box-title">
                        <span th:text="${myContentDto.feedTitle}"></span>
                    </div>
                    <div class="review-content-box-date">
                        <span th:text="${myContentDto.feedDate}"></span>
                    </div>
                    <div class="review-content-box-book-info">
                        <div th:object="${myContentDto}" class="review-content-box-book-info-image">
                            <img th:if="*{fileId == null}"
                                 th:src="@{/imgs/mypage/best_book_default.png}">
                            <img th:unless="*{fileId == null}"
                                 th:src="@{'/upload/' + *{fileUploadPath} + '/' + *{fileUuid} + '_' + *{fileName}}">
                            <div class="review-content-box-book-info-detail">
                                <div><span th:text="${myContentDto.bookName}"></span></div>
                                <div class="review-content-box-book-info-detail-writer"><span th:text="${myContentDto.bookWriter}"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="review-content-box-hart-count"><span>좋아요♥ </span><span th:text="${myContentDto.totalLike}"></span></div>
                </div>

            </div>

        <div class="review-content-box-wrap2">

            <div th:each="myContentDto : ${myContentList}"
                 th:if="${myContentDto.feedType} == 'Post'" class="review-content-box" data-type="post">

                <div class="review-content-box-title">
                    <span th:text="${myContentDto.feedTitle}"></span>
                </div>
                <div class="review-content-box-date">
                    <span th:text="${myContentDto.feedDate}"></span>
                </div>
                <div class="review-content-box-book-info">
                    <div th:object="${myContentDto}" class="review-content-box-book-info-image">
                        <img th:if="*{fileId == null}"
                             th:src="@{/imgs/mypage/best_book_default.png}">
                        <img th:unless="*{fileId == null}"
                             th:src="@{'/upload/' + *{fileUploadPath} + '/' + *{fileUuid} + '_' + *{fileName}}">
                        <div class="review-content-box-book-info-detail">
                            <div><span th:text="${myContentDto.bookName}"></span></div>
                            <div class="review-content-box-book-info-detail-writer"><span th:text="${myContentDto.bookWriter}"></span></div>
                        </div>
                    </div>
                </div>
                <div class="review-content-box-hart-count"><span>좋아요♥ </span><span th:text="${myContentDto.totalLike}"></span></div>
            </div>

        </div>


    </section>
    <footer></footer>
</body>
</html>