<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/myPageInt_secession.css" />
    <script defer src="../js/readingBook.js"></script>
    <script defer src="../js/readingBookDeleteButton.js"></script>
  </head>
  <body>
    <form action="">
      <div>
        <div>
          <header>
            <div class="header_layout">
              <h1 class="header_logo">
                <div class="header_logo_layout">
                  <a href="">
                    <!--홈페이지 버튼 -->
                    <img
                      src="../myPageImg/HippoBook_logo.png"
                      alt=""
                      class="header_logo_images"
                    />
                  </a>
                </div>
              </h1>
              <div class="header_right_layout">
                <a href="">
                  <!-- 알람 페이지 이동  -->
                  <img
                    src="../myPageImg/alarm.png"
                    alt=""
                    class="header_right_alarm"
                  />
                </a>
                <ul class="header_right_login">
                  <a href="" class="header_right_login_box">로그인</a>
                </ul>
              </div>
            </div>
          </header>

          <main>
            <div class="main_top">
              <div class="main_top_layout">
                <a href="">
                  <!-- 카테고리  -->
                  <img
                    src="../myPageImg/Category.png"
                    alt=""
                    class="main_top_category"
                  />
                </a>
                <div class="main_top_category_tap">
                  <ul class="main_top_category_list">
                    <li>
                      <a href="">내 서재</a>
                      <!-- 내 서재 이동 -->
                    </li>
                    <li>
                      <a href="">쪽지</a>
                      <!-- 쪽지 이동 -->
                    </li>
                    <li>
                      <a href="">검색</a>
                      <!-- 검색 이동 -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </main>
          <section class="profile">
            <div class="profile-all">
              <div id="profile-photo">
                <input
                  type="file"
                  id="profile-image"
                  name="profile-photo-file"
                  accept="image/*"
                />
                <img
                  id="hippo"
                  src="../myPageImg/free-icon-hippo-3250992.png"
                  alt=""
                />
              </div>
              <div id="profile-name">
                <h3>책먹는 하마</h3>
                <span>님의 서재</span>
              </div>
              <div id="follow">
                <span>팔로워 <span>0</span></span>
                <span>팔로잉 <span>0</span></span>
              </div>
            </div>
            <div id="my-favorite-book">
              <img src="../myPageImg/인생책 이미지.png" alt="" />
            </div>
          </section>
        </div>
        <div>
          <div class="mypage-cate">
            <div><a href="">소개</a></div>
            <div><a href="">전체도서</a></div>
            <div><a href="">내 게시물</a></div>
            <div><a href="">스티커 신청</a></div>
            <div><a href="">관리</a></div>
          </div>
        </div>
      </div>
      <div class="main__secession-content-container">
        <div class="main__secession-center-content-box">
          <div class="main__my-reading-info-box">
            <h3>회원 탈퇴</h3>
            <div class="main__my-reading-info-div">
              <h2 class="my-reading-info-nickname"><span >test nickname</span>의 서재</h2>
              <hr>
              <p><span>서재에 기록된 도서</span><span><strong>0</strong>권</span></p>
              <p><span>서재에 기록된 리뷰</span><span><strong>0</strong>개</span></p>
            </div>
          </div>
          <div class="main__secession-description-content-box">
            <p>탈퇴 시 유의사항</p>
            <ul>
              <li>탈퇴를 하실 경우 기존 서재에 대한 복구는 불가능하며, 로그인이 필요한 모든 서비스를 이용하실 수 없습니다.</li>
              <li>탈퇴를 하실 경우 계정과 함께 마일리지가 소멸됩니다. 원치 않으실 경우 마일리지 이용 후 탈퇴해 주시기 바랍니다.</li>
              <li>탈퇴 시에도 회원님이 작성하신 포스트, 댓글을 포함한 모든 게시물은 자동 삭제되지 않습니다. 노출을 원치 않으시면 반드시 미리 삭제하신 후 탈퇴해주세요.</li>
            </ul>
            <p><input type="checkbox" id="secession-agree-check"><label for="secession-agree-check">회원 탈퇴에 관한 모든 내용을 숙지하였고, 회원 탈퇴를 신청합니다.</label></p>
            <div><button>돌아가기</button><button>탈퇴하기</button></div>
          </div>
        </div>
      </div>
      <footer>
        <div>
          <button id="reading-book-delete-button">삭제하기</button>
        </div>
      </footer>
  </body>
</html>
