<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.administrator.AdministratorDeclMapper">
    <select id="selectDeclList" resultType="ResultDeclAdminDto">
        SELECT POST_DECLARATION_ID DECLARATION_ID, POST_DECLARATION_DATE DECLARATION_DATE, POST_DECLARATION_CONTENT DECLARATION_CONTENT,
            USER_ID, POST_DECLARATION_CHECK DECLARATION_CHECK, POST_ID, POST_CATE CATE, POST_PROCESS_DATE DECL_PROCESS_DATE
            FROM (SELECT ROWNUM AS RNUM, POST_DECLARATION_ID, POST_DECLARATION_DATE, POST_DECLARATION_CONTENT,
                    USER_ID, POST_DECLARATION_CHECK, POST_ID, POST_CATE,  POST_PROCESS_DATE
                    FROM (SELECT POST_DECLARATION_ID, POST_DECLARATION_DATE, POST_DECLARATION_CONTENT,
                            USER_ID, POST_DECLARATION_CHECK, POST_ID, POST_CATE,  POST_PROCESS_DATE
                            FROM TBL_POST_DECLARATION
                            <trim prefix="WHERE" prefixOverrides="AND">
                                <if test="selectDecl.declarationContent != null">
                                    POST_DECLARATION_CONTENT LIKE '%' || #{selectDecl.declarationContent} || '%'
                                </if>
                                <if test="selectDecl.startDeclarationDate != null and selectDecl.endDeclarationDate != null" >
                                    AND TO_CHAR(POST_DECLARATION_DATE, 'YYYY-MM-DD') BETWEEN
                                    #{selectDecl.startDeclarationDate} AND #{selectDecl.endDeclarationDate}
                                </if>
                                <if test="selectDecl.startPocecssDate != null and selectDecl.endPocecssDate != null" >
                                    AND TO_CHAR(POST_PROCESS_DATE, 'YYYY-MM-DD') BETWEEN
                                    #{selectDecl.startPocecssDate} AND #{selectDecl.endPocecssDate}
                                </if>
                                <if test="selectDecl.declarationType != null and selectDecl.declarationType.length() >= 1">
                                    AND POST_CATE = #{selectDecl.declarationType}
                                </if>
                                <if test="selectDecl.processType != null and selectDecl.processType.length() == 1">
                                    AND POST_DECLARATION_CHECK = #{selectDecl.processType}
                                </if>
                            </trim>
                        ORDER BY POST_DECLARATION_ID)
        <![CDATA[
                WHERE ROWNUM <= #{criteria.page} * #{criteria.amount})
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="selectDeclTotal" parameterType="SelectDeclAdminDto" resultType="int">
        SELECT count(POST_DECLARATION_ID)
        FROM TBL_POST_DECLARATION
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="selectDecl.declarationContent != null">
                POST_DECLARATION_CONTENT LIKE '%' || #{selectDecl.declarationContent} || '%'
            </if>
            <if test="selectDecl.startDeclarationDate != null and selectDecl.endDeclarationDate != null" >
                AND TO_CHAR(POST_DECLARATION_DATE, 'YYYY-MM-DD') BETWEEN
                #{selectDecl.startDeclarationDate} AND #{selectDecl.endDeclarationDate}
            </if>
            <if test="selectDecl.startPocecssDate != null and selectDecl.endPocecssDate != null" >
                AND TO_CHAR(POST_PROCESS_DATE, 'YYYY-MM-DD') BETWEEN
                #{selectDecl.startPocecssDate} AND #{selectDecl.endPocecssDate}
            </if>
            <if test="selectDecl.declarationType != null and selectDecl.declarationType.length() >= 1">
                AND POST_CATE = #{selectDecl.declarationType}
            </if>
            <if test="selectDecl.processType != null and selectDecl.processType.length() == 1">
                AND POST_DECLARATION_CHECK = #{selectDecl.processType}
            </if>
        </trim>
    </select>

    <select id="selectDealDecl" parameterType="Long" resultType="ResultPostInfoDto">
        SELECT DEAL_ID post_id, DEAL_TITLE post_title, DEAL_CONTENT post_content, DEAL_DATE, U.USER_NICKNAME
            FROM TBL_DEAL D JOIN TBL_USER U
                            ON D.USER_ID = U.USER_ID
        WHERE DEAL_ID = #{postId}
    </select>

    <select id="selectBoardDecl" parameterType="Long" resultType="ResultPostInfoDto">
        SELECT BOARD_ID post_id, BOARD_TITLE post_title, BOARD_CONTENT post_content, BOARD_DATE post_date, U.USER_NICKNAME nickname
            FROM TBL_BOARD B JOIN TBL_USER U
                            ON B.USER_ID = U.USER_ID
        WHERE BOARD_ID = #{postId}
    </select>

    <select id="selectNovelDecl" parameterType="Long" resultType="ResultPostInfoDto">
        SELECT NOVEL_ID post_id, NOVEL_TITLE post_title, NOVEL_CONTENT post_content, NOVEL_DATE post_date, U.USER_NICKNAME nickname
        FROM TBL_NOVEL N JOIN TBL_USER U
                            ON N.USER_ID = U.USER_ID
        WHERE NOVEL_ID = #{postId}
    </select>

    <select id="selectClaimDecl" parameterType="Long" resultType="ResultPostInfoDto">
        SELECT CLAIM_ID post_id, CLAIM_TITLE post_title, CLAIM_CONTENT post_content, CLAIM_DATE post_date, U.USER_NICKNAME
        FROM TBL_CLAIM C JOIN TBL_USER U
                            ON C.USER_ID = U.USER_ID
        WHERE CLAIM_ID = #{postId}
    </select>

    <delete id="deleteDeclaration" parameterType="Long">
        DELETE
            FROM TBL_POST_DECLARATION
        WHERE POST_DECLARATION_ID = #{declId}
    </delete>

<!--    <delete id="deleteDealDecl" parameterType="Long">-->
<!--        DELETE-->
<!--            FROM TBL_DEAL-->
<!--        WHERE DEAL_ID = #{postId}-->
<!--    </delete>-->

<!--    <delete id="deleteBoardDecl" parameterType="Long">-->
<!--        DELETE-->
<!--        FROM TBL_BOARD-->
<!--        WHERE BOARD_ID = #{postId}-->
<!--    </delete>-->

<!--    <delete id="deleteNovelDecl" parameterType="Long">-->
<!--        DELETE-->
<!--        FROM TBL_NOVEL-->
<!--        WHERE NOVEL_ID = #{postId}-->
<!--    </delete>-->

<!--    <delete id="deleteClaimDecl" parameterType="Long">-->
<!--        DELETE-->
<!--        FROM TBL_CLAIM-->
<!--        WHERE CLAIM_ID = #{postId}-->
<!--    </delete>-->
</mapper>