<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="header_layout">
        <h1 class="header_logo">
            <div class="header_logo_layout">
                <!--홈페이지 버튼 -->
                <a th:href="@{/}">
                    <img
                            th:src="@{/images/book/HippoBook_logo.png}"
                            alt=""
                            class="header_logo_images"
                    />
                </a>
            </div>
        </h1>
        <div class="header_right_layout">
            <a th:href="@{/alarm}">
                <!-- 알람 페이지 이동  -->
                <button th:if="${alarmCheck == null}" class="header_alarm_btn" >
                    <img th:src="@{/images/main/alarm_new.png}" alt="" class="header_right_alarm" />
                </button>
                <button th:unless="${alarmCheck == null}" class="header_alarm_btn">
                    <img th:src="@{/images/main/alarm.png}" alt="" class="header_right_alarm" />
                </button>
            </a>
            <!-- 로그인 박스 -->
            <ul class="header_right_login">
                <button type="button" th:if="${session.userId == null}" class="header_right_login_btn"  >
                    <a th:href="@{/user/login}" class="header_right_login_box">로그인</a>
                </button>
                <button type="button" class="header_right_login_btn" th:unless="${session.userId == null}">
                    <a th:href="@{/logout}" class="header_right_login_box">로그아웃</a>
                </button>
            </ul>
        </div>
    </div>
</header>
</body>
</html>

