<!DOCTYPE html>
<html lang="EUC-KR">
<head>
  <meta charset="EUC-KR">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 | 히포북</title>
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/user/hepobook.css">
<!--  <link rel="stylesheet" href="/HBREGISTER/css/joinAuth.css">-->
</head>
<body data-theme="light">
<div data-a-1120 id="wrap" class="web-mount">

<section data-a-1120 class="content">
  <div data-b-1130 class="login-container">
<!--    <div data-c-1140 class="back-component">-->
<!--      <div data-c-1140 class="back line">-->
<!--        <button data-c-1140 type="button" class="close-button">-->
<!--          <i data-c-1140 class="mds-icon&#45;&#45;arrow-left"></i>-->
<!--        </button>-->



<!--      </div>-->
<!--    </div>-->
    <div data-b-1130 class="login-content">
      <img data-b-1130 class="logo-picture" src="/images/user/Logo.png" width="79px">
        <h3 data-b-1130 class="title">히포북</h3>
      <p data-b-1130 class="sub-title">나만의 작은 도서관 히포북</p>
      <div data-b-1130 class="input-item">
        <div data-b-1130 class="mds-input input mds-input--default mds-input--left">
          <label>
            <div class="inner">

              <div class="input">
                                <span id="input-278-label" class="label">
                                    "아이디"

                                </span>
                <input autocomplete="off" id="input-278" aria-labelledby="input-278-label"
                       aria-errormessage="input-278-message" type="text" placeholder="아이디 입력"
                       class="mds-input-field">
              </div>

              <button type="button" aria-label="내용 삭제" class="mds-icon--input-delete clear-button" style="display: none;"></button>


            </div>
          </label>


        </div>
      </div>
      <div data-b-1130 class="input-item">
        <div data-b-1130 class="mds-input input input-password mds-input--default mds-input--left">
          <label>
            <div class="inner">

            </div>
            <div class="input">
                                <span id="input-279-label" class="label">
                                    "비밀번호"

                                </span>
              <input autocomplete="off" id="input-279" aria-labelledby="input-279-label"
                     aria-errormessage="input-279-message" type="password" placeholder="비밀번호 입력" class="mds-input-field">
            </div>

            <button type="button" aria-label="내용 삭제" class="mds-icon--input-delete clear-button" style="display: none;"></button>
        </label>
      </div>
    </div>
    <div data-b-1130 class="button-area mt16">
      <button data-b-1130 type="button" disabled="disabled" class="next-button mds-button mds-button--primary mds-button--h56 mds-button--r4">
        <span>로그인</span>
      </button>
    </div>
    <ul data-b-1130 class="login-sub-menu">
      <li data-b-1130>
        <a data-b-1130 onclick="location.href='/HBREGISTER/HTML/register.html'">회원가입</a>
      </li>
      <li data-b-1130>
        <a data-b-1130 href="">계정 정보 찾기</a>
      </li>
      <li data-b-1130>
        <a data-b-1130 href="">기업회원 로그인</a>
      </li>
    </ul>
  </div>
  </div>
</section>

</body>
</html>
