<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>계정 정보 입력 | 히포북</title>
<!--    <link rel="stylesheet" href="/HBREGISTER/css/login.css">-->
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/user/joinAuth.css">
</head>
<body data-theme="light">
    <div data-a-1120 id="wrap" class="web-mount">
        <section data-a-1120 class="content">
            <div data-g-1180 data-a-1120 class="login-container">
<!--                <div data-f-1160 data-g-1180 class="back-component">-->
<!--                    <div data-f-1170 class="back line">-->
<!--                        <button data-f-1170 type="button" class="close-button">-->
<!--                            <i data-f-1170 class="mds-icon&#45;&#45;arrow-left">-->
<!--                            </i>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div data-g-1180 class="login-content">
                    <img data-b-1130 class="logo-picture" src="/images/user/Logo.png" width="79px">
                    <h3 data-g-1180 class="title">계정 정보 입력</h3>
                    <p data-g-1180 class="sub-title">사용할 아이디와 패스워드를 입력하세요</p>
                    <div data-g-1180 class="input-item">
                        <div data-g-1180 class="mds-input input mds-input--default mds-input--required mds-input--left">
                            <label>
                                <div class="inner">
                                    <div class="input">
                                        <span id="input-237-label" class="label">
                                            아이디
                                            <sup>*</sup>
                                        </span>
                                        <input autocomplete="off" id="input-237" aria-labelledby="input-237-label" aria-errormessage="input-237-messeage" type="text"
                                        placeholder="아이디 입력" class="mds-input-field">
                                    </div>
                                    <button type="button" aria-label="내용 삭제" class="mds-icon--input-delete clear-button" style="display: none;"></button>
                                </div>
                            </label>
                            <div class="message-wrap">
                                <p aria-live="assertive" id="input-237-message" role="alert" class="message">6-12자 이내 영문 소문자,숫자 사용 가능</p>
                            </div>
                        </div>
                        <div data-g-1180 class="mds-input input mds-input--default mds-input--required mds-input-left">
                            <label>
                                <div class="inner">
                                    <div class="input">
                                        <span id="input-238-label" class="label">
                                            비밀번호
                                            <sup>*</sup>
                                        </span>
                                        <input autocomplete="off" id="input-238" aria-labelledby="input-238-label" aria-errormessage="input-238-message" type="password"
                                        placeholder="비밀번호 입력" class="mds-input-field">
                                    </div>
                                    <button type="button" class="secret-button">
                                        <i class="icon-eye_off"></i>
                                    </button>
                                </div>
                            </label>
                            <div class="message-wrap">
                                <p aria-live="assertive" id="input-238-message" role="alert" class="message">8~20자 이내 영문 대/소문자,숫자,특수문자만 사용 가능합니다.</p>
                        </div>
                    </div>
                    <div data-g-1180 class="mds-input input mds-input--default mds-input--required mds-input--left">
                        <label>
                            <div class="inner">
                                <div class="input">
                                    <span id="input-239-label" class="label">
                                        비밀번호 재입력
                                        <sup>*</sup>
                                    </span>
                                    <input autocomplete="off" id="input-239" aria-labelledby="input-239-label" aria-errormessage="input-239-message" type="password"
                                    placeholder="비밀번호 재입력" class="mds-input-field">
                                </div>
                                <button type="button" class="secret-button">
                                    <i class="icon-eye_off"></i>
                                </button>
                            </div>
                        </label>
                    </div>
                </div>
                <div data-g-1180 class="button-area">
                    <button data-g-1180 type="button" disabled="disabled" class="next-button mds-button mds-button--primary mds-button--h56 mds-button--r4">
                        <span onclick="location.href='/HBREGISTER/HTML/profileSetting.html'">다음</span>
                    </button>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>