<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.main.BoardTestMapper">
    <select id="selectByContent" resultType="BoardListDto">
        SELECT BOARD_TITLE, BOARD_CONTENT, USER_NICKNAME
        FROM (SELECT BOARD_TITLE, BOARD_CONTENT, U.USER_NICKNAME
        FROM TBL_BOARD JOIN TBL_USER U
        ON TBL_BOARD.USER_ID = U.USER_ID
        ORDER BY BOARD_ID DESC)
        WHERE <![CDATA[ROWNUM < =4]]>
    </select>


</mapper>