<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/chatbot/chatbot.css}">
    <script defer th:src="@{/js/chatbot/chatbot.js}"></script>
    <title>Title</title>
</head>
<body>
    <div class="chatbot-icon-box">
        <div class="chatbot-container">
            <div class="chatbot-head-box">
                <h1>상담 챗봇</h1>
                <img th:src="@{/imgs/administrator/fragment/close_btn.png}" alt="">
            </div>
            <div class="chatbot-viewer-box">
                <div class="user-chat-box"><div class="chat-div">dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</div></div>
                <div class="chatbot-chat-box"><div class="chat-div chatbot-back-color">ㅎㅇ!</div></div>
            </div>
            <div class="chatbot-question-box">
                <input id="chat-input" type="text" placeholder="메세지를 입력하세요.">
                <button id="chat-btn" type="button">전송</button>
            </div>
        </div>
    </div>
</body>
</html>