<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.user.MypageMapper">
    <select id="selectProfile" resultType="IntProfileDto">
        SELECT U.USER_NICKNAME,
               (SELECT COUNT(FOLLOW_ID) FROM TBL_FOLLOW WHERE FOLLOW_TO = U.USER_ID) FOLLOWING_CNT,
               (SELECT COUNT(FOLLOW_ID) FROM TBL_FOLLOW WHERE FOLLOW_FROM = U.USER_ID) FOLLOWER_CNT,
               CF.FILE_ID, CF.FILE_UPLOAD_PATH, CF.FILE_UUID, CF.FILE_NAME
        FROM TBL_USER U
                 JOIN TBL_BOOK_HAS H
                      ON U.USER_ID = #{userId} AND U.BEST_BOOK_ID= H.BOOK_HAS_ID
                 LEFT JOIN TBL_COVERFILE CF
                           ON H.BOOK_ID = CF.BOOK_ID
    </select>

    <insert id="insertIntBoardText" parameterType="IntBoardDto">
        INSERT INTO TBL_INT_BOARD (INT_BOARD_ID, INT_BOARD_CONTENT, USER_ID)
        VALUES (SEQ_INT_BOARD.nextval, #{intBoardContent}, #{userId})
    </insert>

    <select id="selectIntBoardText" resultType="IntBoardDto">
        SELECT INT_BOARD_CONTENT
            FROM TBL_INT_BOARD
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateIntBoardText" parameterType="IntBoardDto">
        UPDATE TBL_INT_BOARD
        SET INT_BOARD_CONTENT = #{intBoardContent}
        WHERE USER_ID =#{userId}
    </update>



</mapper>