<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.user.MypageMapper">
    <select id="selectProfile" resultType="IntProfileDto">
        SELECT U.USER_NICKNAME,
               (SELECT COUNT(FOLLOW_ID) FROM TBL_FOLLOW WHERE FOLLOW_TO = U.USER_ID) FOLLOWING_CNT,
               (SELECT COUNT(FOLLOW_ID) FROM TBL_FOLLOW WHERE FOLLOW_FROM = U.USER_ID) FOLLOWER_CNT
        FROM TBL_USER U
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertIntBoardText" parameterType="IntBoardDto">
        INSERT INTO TBL_INT_BOARD (INT_BOARD_ID, INT_BOARD_CONTENT)
        VALUES (SEQ_INT_BOARD.nextval, #{intBoardContent})
    </insert>

    <select id="selectIntBoardText" resultType="IntBoardDto">
        SELECT INT_BOARD_CONTENT
            FROM TBL_INT_BOARD
        WHERE USER_ID = #{userId}
    </select>



</mapper>