<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.user.UserMapper">
<!--    <insert id="insertJoinUser" parameterType="UserJoinDto">-->
<!--                <selectKey keyProperty="joinId" resultType="Long" order="BEFORE">-->
<!--                    SELECT SEQ_JOIN.nextval FROM DUAL-->
<!--                </selectKey>-->
<!--        INSERT INTO TBL_JOIN(JOIN_ID, JOIN_LOGIN_ID, JOIN_PASSWORD)-->
<!--        VALUES (#{joinId}, #{joinLoginId}, #{joinPassword})-->
<!--    </insert>-->

<!--    <select id="selectJoinId" parameterType="Long" resultType="UserJoinDto">-->
<!--        SELECT JOIN_ID, JOIN_LOGIN_ID, JOIN_PASSWORD-->
<!--        FROM TBL_JOIN-->
<!--        WHERE JOIN_ID = #{joinId}-->
<!--    </select>-->
</mapper>
