<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.user.UserPhoneInfoMapper">

    <!--    사용자 휴대폰 저장-->
<!--    <insert id="insertUser" parameterType="UserPhoneInfoDto">-->
<!--        INSERT INTO TBL_PHONEINFO(PHONEINFO_NAME, PHONEINFO_BIRTH_DATE, PHONEINFO_PHONENUMBER)-->
<!--        VALUES (#{phoneInfoName}, #{phoneInfoBirthDate}, #{phoneInfoPhoneNumber})-->
<!--    </insert>-->

    <!--    휴대폰 사용자 정보 조회-->
    <!--    <select id="selectId" resultType="Long">-->
    <!--        SELECT PHONE_ID-->
    <!--        FROM TBL_PHONEINFO-->
    <!--    </select>-->
</mapper>