<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.user.UserMapper">
    <insert id="insertUser" parameterType="UserPhoneInfoDto">
        INSERT INTO TBL_PHONEINFO(PHONEINFO_NAME, PHONEINFO_BIRTH_DATE, PHONEINFO_PHONENUMBER)
        VALUES (#{phoneInfoName}, #{phoneInfoBirthDate}, #{phoneInfoPhoneNumber})
    </insert>
</mapper>