<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.book.BookCateMapper">
<!--<select id="Categoriepage" resultType="categorie">-->
<!--    SELECT * FROM TBL_BOOKCATE-->
<!--</select>-->
<!--    <insert id="insertCategoriepage" parameterType="categorie">-->
<!--        INSERT INTO TBL_BOOKCATE(BOOKCATE_ID, CATE_ID, BOOK_ID) VALUES (#{id},#{id},#{id})-->
<!--    </insert>-->
<!--    <update id="updateCategoriepage" parameterType="categorie">-->
<!--        UPDATE TBL_BOOKCATE SET CATE_ID = #{id} WHERE CATE_ID = #{id}-->
<!--    </update>-->
<!--    <delete id="deleteCategoriepage" parameterType="categorie">-->
<!--        DELETE FROM TBL_BOOKCATE WHERE CATE_ID = #{id}-->
<!--    </delete>-->
</mapper>