<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hippobookproject.mapper.board.BoardMapper">
    <select id="selectDeclById" parameterType="Long" resultType="PostSearchResultDto">
    SELECT S.DEAL_ID post_id, DEAL_TITLE post_title, DEAL_CONTENT post_content,
           S.USER_ID, USER_NICKNAME, NVL(DL.DL_CONNT, 0) LIKE_COUNT, DEAL_DATE post_date, DEAL_VIEW post_view
    FROM(SELECT DEAL_ID, DEAL_TITLE, DEAL_CONTENT, D.USER_ID, USER_NICKNAME, DEAL_DATE, DEAL_VIEW
        FROM TBL_DEAL D JOIN TBL_USER U
        ON
            DEAL_ID = #{postId}
            AND D.USER_ID = U.USER_ID
    ) S LEFT JOIN (SELECT DEAL_ID ,COUNT(DL.USER_ID) DL_CONNT
    FROM TBL_DEAL_LIKE DL
    GROUP BY DL.DEAL_ID) DL
    ON S.DEAL_ID = DL.DEAL_ID
    </select>

    <select id="selectBoardById" parameterType="Long" resultType="PostSearchResultDto">
        SELECT S.NOVEL_ID post_id, NOVEL_TITLE post_title, NOVEL_CONTENT post_content,
               S.USER_ID, USER_NICKNAME, NVL(DL.DL_CONNT, 0) LIKE_COUNT, NOVEL_DATE post_date, NOVEL_VIEW post_view
        FROM(SELECT NOVEL_ID, NOVEL_TITLE, NOVEL_CONTENT, D.USER_ID, USER_NICKNAME, NOVEL_DATE, NOVEL_VIEW
             FROM TBL_NOVEL D JOIN TBL_USER U
                                  ON
                                      NOVEL_ID = #{postId}
                                          AND D.USER_ID = U.USER_ID
            ) S LEFT JOIN (SELECT NOVEL_ID ,COUNT(DL.USER_ID) DL_CONNT
                           FROM TBL_NOVEL_LIKE DL
                           GROUP BY DL.NOVEL_ID) DL
                          ON S.NOVEL_ID = DL.NOVEL_ID
    </select>

    <select id="selectNovelById" parameterType="Long" resultType="PostSearchResultDto">
        SELECT S.NOVEL_ID post_id, NOVEL_TITLE post_title, NOVEL_CONTENT post_content,
               S.USER_ID, USER_NICKNAME, NVL(DL.DL_CONNT, 0) LIKE_COUNT, NOVEL_DATE post_date, NOVEL_VIEW post_view
        FROM(SELECT NOVEL_ID, NOVEL_TITLE, NOVEL_CONTENT, D.USER_ID, USER_NICKNAME, NOVEL_DATE, NOVEL_VIEW
             FROM TBL_NOVEL D JOIN TBL_USER U
                                  ON
                                      NOVEL_ID = #{postId}
                                          AND D.USER_ID = U.USER_ID
            ) S LEFT JOIN (SELECT NOVEL_ID ,COUNT(DL.USER_ID) DL_CONNT
                           FROM TBL_NOVEL_LIKE DL
                           GROUP BY DL.NOVEL_ID) DL
                          ON S.NOVEL_ID = DL.NOVEL_ID
    </select>

    <select id="selectClaimById" parameterType="Long" resultType="PostSearchResultDto">
        SELECT S.CLAIM_ID post_id, CLAIM_TITLE post_title, CLAIM_CONTENT post_content,
               S.USER_ID, USER_NICKNAME, NVL(DL.DL_CONNT, 0) LIKE_COUNT, CLAIM_DATE post_date, CLAIM_VIEW post_view
        FROM(SELECT CLAIM_ID, CLAIM_TITLE, CLAIM_CONTENT, D.USER_ID, USER_NICKNAME, CLAIM_DATE, CLAIM_VIEW
             FROM TBL_CLAIM D JOIN TBL_USER U
                                  ON
                                      CLAIM_ID = #{postId}
                                          AND D.USER_ID = U.USER_ID
            ) S LEFT JOIN (SELECT CLAIM_ID ,COUNT(DL.USER_ID) DL_CONNT
                           FROM TBL_CLAIM_LIKE DL
                           GROUP BY DL.CLAIM_ID) DL
                          ON S.CLAIM_ID = DL.CLAIM_ID
    </select>
</mapper>