<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/message/get_letter.css}" />
    <script defer th:src="@{/js/message/get_letter.js}"></script>
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <div class="main__post-content-container">
      <form action="">
        <main class="main__post-content-inner-box">
          <div class="main__post-title-search-box">
            <h1 class="main__title-box">
              쪽지함
              <div class="main__search-option-box">
              
              </div>
            </h1>
          </div>
          <div class="main__post-type-menu-box">
            <ul class="main__post-menu-ul">
              <li class="post-menu-li post-menu-select-li">
                <a href="">받은쪽지함</a><span class="post-menu-select-span"></span>
              </li>
              <li class="post-menu-li"><a href="">보낸쪽지함</a><span></span></li>
             
            </ul>
            <div class="main__post-write-btn-box">
              <a href="">쪽지쓰기</a>
              <div class="get-letter-delete-btn">
                <button type="submit" class="submit-btn">삭제하기</button>
              </div>
            </div>
            
            <div class="main__post-order-type-box">
              <ul>
                <li><a href="">최신순</a></li>
                <li><a href="">읽은순</a></li>
              </ul>
            </div>
          </div>
          <div class="main__post-search-result-box">
            <ul>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>안읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>안읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>안읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>안읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>읽음</li>
                  </ul>
                </div>
              </li>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" name="" id="" />
                  <span>test title</span>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span>보낸 사람</span>
                  <ul>
                    
                    <li>AM 10:55</li>
                    <li>안읽음</li>
                  </ul>
                </div>
              </li>

            </ul>
            
          </div>
          <div class="letter-page-container">
            <ul class="page-box">
              <a href="" class="letter-list-page-a">
                <li class="page-num prev">&lt</li>
              </a>
    
              <a href="" class="letter-list-page-a">
                <li class="page-num">1</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">2</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">3</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">4</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">5</li>
              </a>
    
              <a href="" class="letter-list-page-a">
                <li class="page-num next">&gt</li>
              </a>
            </ul>
          </div>
        </main>
      </form>
    </div>
    <footer></footer>
  </body>
</html>
