<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/message/letterWrite.css}" />
    <link rel="stylesheet" th:href="@{/css/main/mainpage.css}" />
  </head>
  <body>
    <form action="">
      <header class="header" th:replace="~{/fragment/header :: header}"></header>

      <main>
        <div class="main_top">
          <div class="main_top_layout">
            <a href="">
              <!-- 카테고리  -->
              <img
                src="/images/mypage/Category.png"
                alt=""
                class="main_top_category"
              />
            </a>
            <div class="main_top_category_tap">
              <ul class="main_top_category_list">
                <li>
                  <a href="">내 서재</a>
                  <!-- 내 서재 이동 -->
                </li>
                <li>
                  <a href="">쪽지</a>
                  <!-- 쪽지 이동 -->
                </li>
                <li>
                  <a href="">검색</a>
                  <!-- 검색 이동 -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </form>
    <section>
      <div>
        <h1>쪽지 보내기</h1>
      </div>
    </section>
    <div class="letter-middle-line"></div>
    <form action="">
      <div class="letter-cate">
        <div class="letter-cate-box">
          
      
        </div>
      </div>
    </form>
    <form th:action="@{/message/letter/write}" method="post">
      <div>
        <div id="letter-warning">
          <span>*표시는 필수적으로 입력해야 하는 항목입니다.</span>
        </div>
        <div class="letter-box-outline">
          <div class="letter-id-box">
            <div class="letter-id-box-title">
              <h3>아이디 *</h3>
            </div>
            <div class="letter-id-box-input" >
              <input type="text" id="letter-id-text" name="userNickname" />
              <button type="button" id="letter-id-button">닉네임 검색</button>
            </div>
          </div>

          <div class="letter-id-box">
            <div class="letter-id-box-title">
              <h3>제목 *</h3>
            </div>
            <div class="letter-id-box-input" >
              <input type="text" class="message-title" name="messageTitle" />
            </div>
          </div>

          <div class="letter-content-box-all">
            <div class="letter-content-box-title">
              <h3>내용 *</h3>
            </div>
            <div class="letter-content-box-content">
              <textarea
                name="messageContent"
                id=""
                cols="100"
                rows="20"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="send-btn">
          <button type="submit" class="submit-btn">전송하기</button>
        </div>
      </div>
    </form>
    <footer>
      <div></div>
    </footer>
  </body>
</html>
