<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/message/letterView.css}" />
    <script defer th:src="@{/js/message/letterView.js}"></script>
  </head>
  <body>
    <form action="">
      <header>
        <div class="header_layout">
          <h1 class="header_logo">
            <div class="header_logo_layout">
              <a href="">
                <!--홈페이지 버튼 -->
                <img
                  src="../myPageImg/HippoBook_logo.png"
                  alt=""
                  class="header_logo_images"
                />
              </a>
            </div>
          </h1>
          <div class="header_right_layout">
            <a href="">
              <!-- 알람 페이지 이동  -->
              <img
                src="../myPageImg/alarm.png"
                alt=""
                class="header_right_alarm"
              />
            </a>
            <ul class="header_right_login">
              <a href="" class="header_right_login_box">로그인</a>
            </ul>
          </div>
        </div>
      </header>

      <main>
        <div class="main_top">
          <div class="main_top_layout">
            <a href="">
              <!-- 카테고리  -->
              <img
                src="../myPageImg/Category.png"
                alt=""
                class="main_top_category"
              />
            </a>
            <div class="main_top_category_tap">
              <ul class="main_top_category_list">
                <li>
                  <a href="">내 서재</a>
                  <!-- 내 서재 이동 -->
                </li>
                <li>
                  <a href="">쪽지</a>
                  <!-- 쪽지 이동 -->
                </li>
                <li>
                  <a href="">검색</a>
                  <!-- 검색 이동 -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </form>

    <div class="letter-middle-line"></div>
    <form action="">
      <div class="letter-cate">
        <div class="letter-cate-box">
      
        </div>
      </div>
    </form>
    <div class="letter-wrap-all">
      <div class="letter-wrap">
        <div class="letter-header">
          <h2 class="letter-title">제목</h2>
          <p class="letter-info">
            작성자: <span>홍길동</span> | 보낸날짜: <span>2014.03.26</span>
          </p>
        </div>
      </div>
      <div class="letter-content"><span>내용</span></div>
    </div>

    <div class="letter-reply-box">
      <button type="button" class="letter-reply">답장하기</button>
      <button type="button" class="letter-back">뒤로가기</button>
    </div>
    <footer>
      <div></div>
    </footer>
  </body>
</html>
