<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/message/send_letter.css}" />
    <link rel="stylesheet" th:href="@{/css/main/mainpage.css}" />
    <script type="module" defer th:src="@{/js/message/send_letter.js}"></script>
    <title>Document</title>
  </head>
  <body>
  <header class="header" th:replace="~{/fragment/header :: header}"></header>
    <div class="main__post-content-container">
      <form action="">
        <main class="main__post-content-inner-box">
          <div class="main__post-title-search-box">
            <h1 class="main__title-box">
              쪽지함
              <div class="main__search-option-box">
              
              </div>
            </h1>
          </div>
          <div class="main__post-type-menu-box">
            <ul class="main__post-menu-ul">
              <li class="post-menu-li post-menu-select-li">
                <a th:href="@{/message/letter/get}">받은쪽지함</a><span></span>
              </li>
              <li class="post-menu-li"><a th:href="@{/message/letter/send}">보낸쪽지함</a><span class="post-menu-select-span"></span></li>
             
            </ul>
            <div class="main__post-write-btn-box">
              <a th:href="@{/message/letter/write}">쪽지쓰기</a>
              <div class="get-letter-delete-btn">
                <button type="button" class="delete-submit-btn" data-id="">삭제하기</button>
              </div>
            </div>
            
            <div class="main__post-order-type-box">
              <ul>
                <li><a href="">최신순</a></li>
                <li><a href="">오래된순</a></li>
              </ul>
            </div>
          </div>
          <div th:each="messageDto : ${postMessageList}" class="main__post-search-result-box">
            <ul>
              <li class="main__post-result-li">
                <p class="main__post-titie-info-box">
                    <input type="checkbox" class="message-check" name="" th:data-id="${messageDto.messageId}" />
                  <a th:href="@{/message/letter/view(messageId=${messageDto.messageId})}">
                  <span th:text="${messageDto.messageTitle}"></span>
                  </a>
                  <img src="" alt="" />
                </p>
                <div class="main__post-detail-info-box">
                  <span th:text="${messageDto.messageTo}"></span>
                  <ul>
                    
                    <li th:text="${messageDto.messageDate}"></li>
                    
                  </ul>
                </div>
              </li>


            </ul>
            
          </div>
          <div class="letter-page-container">
            <ul class="page-box">
              <a href="" class="letter-list-page-a">
                <li class="page-num prev">&lt</li>
              </a>
    
              <a href="" class="letter-list-page-a">
                <li class="page-num">1</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">2</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">3</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">4</li>
              </a>
              <a href="" class="letter-list-page-a">
                <li class="page-num">5</li>
              </a>
    
              <a href="" class="letter-list-page-a">
                <li class="page-num next">&gt</li>
              </a>
            </ul>
          </div>
        </main>
      </form>
    </div>
    <footer></footer>
  </body>
</html>
